@inherits LayoutComponentBase

<div class="page">
    <main>
        <nav class="navbar">
            <NavMenu />
        </nav>
        <article class="content">
            @Body
        </article>
    </main>
</div>
