.content {
    position: relative;
    width: 100%;
    padding-top: 100px;
    padding-left: 120px;
    padding-right: 120px;
}



body {
    position: center;
    flex-direction: column;
    margin: auto;
    background-color: #0f171e;
}