.content {
    width: 100%;
    padding-top: 100px;
    padding-left: 30px;
    padding-right: 30px;
}

body {
    flex-direction: column;
    margin: 0 0 100px;
    background-color: #0f171e;
    padding: 0px;
}