@inherits LayoutComponentBase

<div class="page">
    <main>
        <nav class="navbar">
            <NavMenu />
        </nav>
        <div class="title">
            <hr style="height:3px; margin-left:350px; margin-right:350px;" />
            <h1><b>Global Finance</b></h1>
            <p>Warwickshire's Number 1 Provider of Quality Motors!</p>
        </div>
        <hr style="height:3px; margin-left:250px; margin-right:250px;" />
        <article class="content">
            @Body
        </article>
    </main>
</div>
