@page "/about"


<div class="main">
    <h2>Who Are We?</h2>
    <hr style="height: 3px;" />
    <p>
        We are Global Finance, Warwickshire's number one supplier of dependable used cars.
    </p>
    <br />
    <h2>Why Should I Choose Global Finance?</h2>
    <hr style="height: 3px;" />
    <p>
        At Global Finance, we recognise that purchasing a vehicle is a massive choice and financial commitment.
        Because of this, we work hard to make sure that every one of our customers has a wonderful, hassle-free experience when buying or financing a car.
    </p>
    <p>
        Our goal is to provide a wide range of affordable pre-owned cars, trucks, and SUVs of the highest calibre.
        Every vehicle in our show room has undergone a thorough inspection to guarantee that it satisfies our exacting standards for quality, reliability, and safety.

        Regardless of credit history, we believe that everyone should have access to cheap financing options.
    </p>
    <br />
    <h2>How Does It Work?</h2>
    <hr style="height: 3px;" />
    <p>
        Simply head over to our show room, find a car you want in our selection of premium motors, and choose to either purchase, apply for finance, or book a test drive!
    </p>
    <p>
        Our team of skilled and professional sales representatives is dedicated to assisting you in finding the ideal car that meets your needs, lifestyle, and budget.
        Throughout the car-buying process and beyond, we are committed to giving you the best possible customer care and assistance.
    </p>
    <br />
    <p>
        Thank you for selecting Global Finance as your chosen car dealer!
    </p>
</div>