@page "/about"

<h1>About Us</h1>

<div class="main">
    <br />
    <br />
    <h2>Who Are We?</h2>
    <p>Here at Global Finance, we strive to provide quality new and used vehicles at an affordable price! We offer both full payment and finance options for our customers, to ensure you get the 
        car you desire in a way that suits you!
    </p>
</div>