.main {
    margin-left: 160px;
    margin-right: 160px;
}

.location {
    width: 45%;
    text-align: center;
    float: left;
}

.map-details {
    display: flex;
}

.google-map {
    float: left;
}

.address {
    float: right;
    text-align: center;
    margin-left: 20px;
}

.contact {
    width: 30%;
    margin-right: 120px;
    text-align: center;
    float: right;
}

h2 {
    font-size: 25px;
    color: #0f79af;
}

