@page "/finance"


<div class="main">
    <h1>Finance a Car with Global Finance</h1>
    <p>Here at Global Finance, we offer a versatile finance scheme for all of our new and used motors. 
        Simply select a car from our showroom and fill out the finance form, visit us in person to fill out a paper form with one of our helpful colleagues, 
        or give us a call at 01933 123456!</p>

</div>

<br />

<AuthorizeView>
    <Authorized>
        Admin Stuff
    </Authorized>
    <NotAuthorized>
        Non-Admin Stuff
    </NotAuthorized>
</AuthorizeView>