@page "/finance"
@using System.Text.RegularExpressions
@using System.ComponentModel.DataAnnotations


<div class="finance-apply">
    <article>
        <h1>Apply for Finance</h1>
        <MudGrid>
            <MudItem xs="12" sm="7">

            </MudItem>
        </MudGrid>
    </article>
</div>

