h1 {
    text-align: center;
    font-size: 25px;
    color: #0f79af;
}

hr {
    margin-left: 600px;
    margin-right: 600px;
}

.finance-apply {
    width: min-content;
    margin: auto;
    display: grid;
    grid-template-columns: 320px 320px 320px 320px;
    padding: 16px;
    background-color: gainsboro;
}

.file-button {
    margin-left: 360px;
    margin-right: 360px;
    display: flex;
    width: min-content;
    float: right;
}

button[type=submit] {
    width: 300px;
    padding: 6px 6px;
    margin-top: 8px;
    border-radius: 5px;
    border-color: #0f79af;
    background-color: #0f79af;
    color: white;
    font-weight: bold;
}

button:hover {
    border-color: #0d4561;
    background-color: #0d4561;
    color: white;
}