.finance-apply {
    text-align: center;
    margin: auto;
}

button[type=submit] {
    width: 300px;
    padding: 6px 6px;
    margin: 8px;
    border-radius: 5px;
    border-color: #0f79af;
    background-color: #0f79af;
    color: white;
    font-weight: bold;
}

button:hover {
    border-color: #0d4561;
    background-color: #0d4561;
    color: white;
}