@page "/showroom"
@inject NavigationManager NavigationManager

<h1>Show Room</h1>

<div class="grid-container" id="grid">
    @foreach (var vehicle in vehicles)
    {
        <div class="container">
            <div class="media-img-wrapper">
                <a href="/showroom/@vehicle.Id">
                    <img class="media-img" src="@vehicle.Image" alt="@vehicle.Title" />
                </a>
            </div>
            <div class="media-body">
                <a href="/showroom/@vehicle.Id">
                    <h4 class="mb-o">@vehicle.Title</h4>
                </a>
                <p>@vehicle.Description</p>
                <h5 class="price">
                    $@vehicle.Price
                </h5>
            </div>
        </div>
    }
</div>

@code
{
    List<CarShop.Shared.Product> vehicles;

    protected override void OnInitialized()
    {
       this.vehicles = CarShop.Shared.CarList.GetProducts(); 
    }
    
}
